<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="cordova-plugin-pesdk" version="1.1.0">
    <name>PESDK</name>
    <description>PhotoEditor SDK Cordova Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,camera</keywords>
    <repo>https://github.com/imgly/pesdk-cordova-demo.git</repo>

    <dependency id="cordova-plugin-compat" version="^1.0.0" />
    <dependency id="cordova-plugin-add-swift-support" version="1.6.0"/>

    <js-module src="src/www/pesdk.js" name="PESDK">
        <clobbers target="PESDK" />
    </js-module>

    <!-- Android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="PESDK">
                <param name="android-package" value="com.photoeditorsdk.cordova.PESDKPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/PESDKPlugin.java" target-dir="src/com/photoeditorsdk/cordova"/>
    </platform>

     <!-- iOS -->
     <platform name="ios">
         <config-file target="config.xml" parent="/*">
             <feature name="PESDK">
                 <param name="ios-package" value="PESDKPlugin" />
             </feature>
         </config-file>

         <header-file src="src/ios/PESDKPlugin.h" />
         <source-file src="src/ios/PESDKPlugin.m" />

         <framework src="Photos.framework" />
         <framework src="ImageIO.framework" weak="true" />
         <framework src="UIKit.framework" />
         <framework src="Foundation.framework" />
         <framework src="QuartzCore.framework" />
         <framework src="AssetsLibrary.framework" />
         <framework src="MobileCoreServices.framework" />
         <framework src="src/ios/PhotoEditorSDK.framework" custom="true" embed="true" />

         <hook type="after_plugin_install" src="hooks/resolveDependencies.js" />
         <hook type="after_platform_add" src="hooks/resolveDependencies.js" />
         <!-- 
            Cordova doesn't handle Framework embedding as it's supposed
            to. Use the following workaround instead:
            http://stackoverflow.com/questions/36650522/custom-cordova-plugin-add-framework-to-embedded-binaries 
          -->
         <hook type="after_build" src="hooks/add_embedded.js" />

         <!-- 
            As we can't add plist entries using our applications
            config.xml, we do it here:
          -->
         <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>Uses your camera to snap pictures.</string>
         </config-file>
         <config-file parent="NSPhotoLibraryUsageDescription" target="*-Info.plist">
            <string>Accesses your photo library to save and open pictures.</string>
         </config-file>
     </platform>

    <!-- Browser -->
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="PESDK">
                <param name="browser-package" value="PESDK" />
            </feature>
        </config-file>
    </platform>

</plugin>
